@import url("styles/header.css");

:root {
    --cor-de-fundo: rgb(200, 200, 200);
    --branco: rgb(255, 255, 255);
    --laranja: rgb(255, 115, 0);
    --azul-degrade: linear-gradient(90deg, rgb(50, 100, 180) 50%, rgb(75, 100, 150) 50%);
}

body {
    background-color: var(--cor-de-fundo);
}
